<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" 
    content="Официальный дилер Amoy в России предлагает купить цифровое пианино Amoy со склада поставщика по доступной цене, все цвета на выбор, гарантия на цифровое пианино, быстрая доставка во все регионы.">
    <title>Цифровое пианино Amoy от официального дилера</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
    <div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a href="" class="logo">
                    <img src="images/dist/logo.png" alt="logo" class="logo__img">
                </a>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="#" class="menu__link">Дилерам
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#characteristic" class="menu__link">Характеристики
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">ГДЕ КУПИТЬ
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>