<div id="popup" class="popup" >
<div class="popup__body">
    <div class="popup__content">
        <a href="#popup" class="popup__close close-popup">X</a>
        <div class="popup__title"></div>
        <form class="popup__form">
            <h4 class="title">Заказать</h4>
                <p class="popup__text">Если Вы хотите заказать пианино AMOY A100, оставьте свой контакт и наш
                        менеджер перезвонит вам в ближайшее время</p>
                <input type="text" class="form__input-name" placeholder="Имя">
                <input type="text" class="form__input-phone" placeholder="Телефон">
                <button class="button__order" type="subbmit">заказать</button>
        </form>
    </div>
</div>
</div>